@model GE.IServicio.Clase.DTOs.ClaseDetalleDto

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>ClaseDetalle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFin" class="control-label"></label>
                <input asp-for="HoraFin" class="form-control" />
                <span asp-validation-for="HoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <select asp-for="Dia" class="form-control"></select>
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaseId" class="control-label"></label>
                <select asp-for="ClaseId" class="form-control" asp-items="ViewBag.ClaseId"></select>
                <span asp-validation-for="ClaseId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

