@using GE.IServicio.Caja.DTO
@{
    var caja = new CajaDto();
    ViewData["Title"] = "Index";
}



<body>
    <div class="ContenedorTotal">

        <h1 class="logintext">Abrir Caja</h1>

        @if (ViewBag.sms != null)
        {
            <div class="col-12">

                <div class="alert alert-success alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                    <h4><i class="fa-navicon fa-stop"></i>La Caja Ya Esta Abierta</h4>
                    Caja Lista Para Facturar

                </div>

            </div>
        }


        <div class="caja">

            <form asp-action="Abrir" method="post">
                <div class="buscar">

                    <p class="search" style="margin-left:7px;margin-right:7px;">
                        Monto a Abrir
                        <input asp-for="@caja.MontoApertura" placeholder="Monto Apertura" class="form-control" />
                    </p>
                    <input type="submit" value="Abrir" btn="btn btn-default" class="btn btn-primary" style="width:200px; height:100px; font-size:x-large;background-color:forestgreen" />

                </div>
            </form>


        </div>

        <br />
        <br />

    </div>
</body>

