@model GE.IServicio.Cliente.DTO.ClienteDto
@{
    ViewData["Title"] = "Create";
}
<body class="align-content-lg-center">

    <h1>Registar Cliente</h1>

    <h4>Cliente</h4>
    <hr />
    <div class="divAgregar">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Apellido" class="h6"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="h6"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dni" class="h6"></label>
                    <input asp-for="Dni" class="form-control" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="h6"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Domicilio" class="h6"></label>
                    <input asp-for="Domicilio" class="form-control" />
                    <span asp-validation-for="Domicilio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="h6"></label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sexo" class="h6"></label>
                    <select asp-for="Sexo" class="form-control">
                        <option value="0">Masculino</option>
                        <option value="1">Femenino</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GrupoSanguineo" class="h6"></label>
                    <select asp-for="GrupoSanguineo" class="form-control">
                        <option value="1">A</option>
                        <option value="2">B</option>
                    </select>
                    <span asp-validation-for="GrupoSanguineo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaDeIngreso" class="h6"></label>
                    <input asp-for="FechaDeIngreso" class="form-control" />
                    <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar Datos" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-danger">Volver</a>
    </div>
</body>

