@model GE.IServicio.Cliente.DTO.ClienteDto
@{
    ViewData["Title"] = "Create";
}
    <body class="align-content-lg-center">

        <h1>Registar Cliente</h1>

        <h4>Cliente</h4>
        <hr />
        <div style="color: white" class="datosalmedio">
            <div class="col-almedio">
                <form asp-action="Create" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Apellido" class="h6"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="h6"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dni" class="h6"></label>
                        <input asp-for="Dni" class="form-control" />
                        <span asp-validation-for="Dni" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="h6"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Domicilio" class="h6"></label>
                        <input asp-for="Domicilio" class="form-control" />
                        <span asp-validation-for="Domicilio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaNacimiento" class="h6"></label>
                        <input asp-for="FechaNacimiento" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sexo" class="h6"></label>
                        <select asp-for="Sexo" class="form-control">
                            <option value="0">Masculino</option>
                            <option value="1">Femenino</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GrupoSanguineo" class="h6"></label>
                        <select asp-for="GrupoSanguineo" class="form-control">
                            <option value="1">A</option>
                            <option value="2">B</option>
                        </select>
                        <span asp-validation-for="GrupoSanguineo" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="Foto" class="h6">Foto Empleado</label>
                        <input asp-for="Foto" type="file" class="form-control" accept="image/*" />

                    </div>
                    <div class="form-group">
                        <label asp-for="FechaDeIngreso" class="h6"></label>
                        <input asp-for="FechaDeIngreso" class="form-control" />
                        <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Datos" class="btn btn-primary" />
                    </div>
                    <br />
                    <div>
                        <a asp-action="Index" class="btn btn-danger">Volver</a>
                    </div>
                </form>
            </div>
        </div>
        
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Agregar Nuevo Cliente
    </button>

    <!--Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContactLabel">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form asp-action="Create" asp-controller="Cliente" method="post" class="formCliente" enctype="multipart/form-data">

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @*<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />*@
                                <div class="form-group">
                                    <label asp-for="Apellido" class="col-md-2 control-label"></label>
                                    <input asp-for="Apellido" placeholder="Apellido" class="form-control" />
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nombre" class="col-md-2 control-label"></label>
                                    <input asp-for="Nombre" placeholder="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dni" class="col-md-2 control-label"></label>
                                    <input asp-for="Dni" placeholder="Dni" class="form-control" />
                                    <span asp-validation-for="Dni" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telefono" class="h6"></label>
                                    <input asp-for="Telefono" placeholder="Telefono" class="form-control" />
                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Domicilio" class="h6"></label>
                                    <input asp-for="Domicilio" placeholder="Domicilio" class="form-control" />
                                    <span asp-validation-for="Domicilio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FechaNacimiento" class="h6"></label>
                                    <input asp-for="FechaNacimiento" class="form-control" />
                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sexo" class="h6"></label>
                                    <select asp-for="Sexo" class="form-control">
                                        <option value="0">Masculino</option>
                                        <option value="1">Femenino</option>
                                    </select>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GrupoSanguineo" class="h6"></label>
                                    <select asp-for="GrupoSanguineo" class="form-control">
                                        <option value="1">A</option>
                                        <option value="2">B</option>
                                    </select>
                                    <span asp-validation-for="GrupoSanguineo" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <label asp-for="Foto" class="h6">Foto Empleado</label>
                                    <input asp-for="Foto" type="file" class="form-control" accept="image/*" />

                                </div>
                                <div class="form-group">
                                    <label asp-for="FechaDeIngreso" class="h6"></label>
                                    <input asp-for="FechaDeIngreso" class="form-control" />
                                    <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
                                    @*<input type="submit" value="Guardar Datos" class="btn btn-primary" />*@
                                    <button type="submit" value="Guardar Datos" class="btn btn-primary" onclick="cliente.AgregarCliente" data-save="modal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>>


    </body>

