@model GE.IServicio.Cliente.DTO.ClienteDto

@{
    ViewData["Title"] = "Perfil";
}

<h1>Perfil</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Perfil">
            
            <img src= "@Model.FotoLink" alt="imgText" class="avatar" />
            <h1>
                @Model.Apellido , @Model.Nombre
            </h1>
            
            
            <div class="form-group">
                <label asp-for="GrupoSanguineo" class="control-label"></label>
                <input asp-for="GrupoSanguineo" class="form-control" readonly="readonly" />
                <span asp-validation-for="GrupoSanguineo" class="text-danger"></span>
                
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Dni" class="text-danger"></span>
                
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" readonly="readonly"/>
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaDeIngreso" class="control-label"></label>
                <input asp-for="FechaDeIngreso" class="form-control" readonly="readonly"/>
                <span asp-validation-for="FechaDeIngreso" class="text-danger"></span>
                
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
                
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Domicilio" class="text-danger"></span>
                
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" readonly="readonly" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input asp-action="Venta" asp-route-id="Id" type="submit" value="Pagar Cuota" class="btn btn-primary" style='width:350px; height:75px' />
                <a asp-action="CuotaEstado" class="btn btn-secondary">Perfil</a>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
