

/*//////////////////////////////////////////////////////////////////
[ FONT ]LOGIN*/


.principal {
    width: 1070px;
    height: auto;
}


.lateralizq {
    float: left;
    width: 600px;
    height: auto;
    padding-top: 30px;
}




.lateralderecho {
    float: right;
    padding-top: 30px;
    width: 300px;
    height: auto;
}

.botonGeneral {
    width: 200px;
    height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: x-large;
    color:black;   
    background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#930D00), to(#FF4E28));
    border: dashed 0px #000000;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    float: inherit;
    margin-top: auto;
    
    margin-bottom:7px;
}

.botonGeneral :hover{
    text-decoration:none;
    background-color:red;
}

.botonClientes {
    width: 220px;
    height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: x-large;
    background: -webkit-gradient(linear, 62% 100%, 36% 11%, from(#000BFF), to(#190028));
    margin-right: auto;
    border: dashed 0px #000000;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    float: right;
    
    padding-right:3px;
}

.botonEmpleado {
    width: 220px;
    height: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    font-size: x-large;
    background: -webkit-gradient(linear, 62% 100%, 36% 11%, from(#000BFF), to(#190028));
    margin-right: auto;
    border: dashed 0px #000000;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    float: inherit;
}

/***********/
.card {
    border: 1px solid #28a745;
}

.card-login {
    margin-top: 130px;
    padding: 18px;
    max-width: 30rem;
}

.card-header {
    color: #fff;
    /*background: #ff0000;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600 !important;
    margin-top: 10px;
    border-bottom: 0;
}

.input-group-prepend span {
    width: 50px;
    background-color: #ff0000;
    color: #fff;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.fotopersona {
    width: auto;
    float: right;
    display: block;
}

.eliminarposition{
    float:left;
    width:70%;
    display:block;
}

.login_btn {
    width: 130px;
}

    .login_btn:hover {
        color: #fff;
        background-color: #ff0000;
    }

.btn-outline-danger {
    color: #fff;
    font-size: 18px;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #28a745;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #28a745;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.enbloque {
    display: block;
    padding-top:10px;
    float: inherit;
}

.logintext{
    background-color:chocolate;
    height:100px;
    width:500px;
    margin-top:10px;
    color:aliceblue;
    text-align:center;
    padding-top:25px;
}

.logintextindex {
    background-color: chocolate;
    height: 60px;
    width: 1070px;
    margin-top: 10px;
    color: aliceblue;
    text-align:center;
    display:block;
}

.textuser {
    
    color: beige;
    background-color:darkcyan;
    text-align:right;
    float:right;
    padding-top:10px;
    height:60px;
    
    margin-top:11px;
}

.textindex {
    color: aliceblue;
    text-align: right;
    display:block;
}

.imagenbarra{

    height : 65px;
    width : 240px;
    margin-right: 16px;
}

header {
    border: outset 4px #000000;
    background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#C70A00), to(#FF4E28)) -moz-border-radius: 13px;
    /*background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#FF0000), to(#FF4E28)) -webkit-border-radius: 13px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 7px;
    margin-left:45px;
    margin-right:81px;
}

.imgcliente{
    text-align:left;
    float:left;
    padding-top:10px;
}
/*//////////////////////*/
.divAgregar {
    padding: 1px;
    text-align: center;
}

.col-almedio {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    align-content:center;
    text-align:center;
    font-size:larger;
    font-weight:bold;
}



.datosalmedio {
    width: 100%;
    min-height: 100vh;
    background: #F0600F; /*
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.datosalmediouser {
    width: 50%;
    min-height: 100vh;
    background: #F0600F; /*
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
/****************/
@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

.tdgrupo{
    text-align:center;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

body {
    /*background: #c850c0;#4158d0  EF5700naranja230E02ngro*/
    background: -webkit-linear-gradient(45deg, #572306, #EF5700);
    background: -o-linear-gradient(45deg, #572306, #EF5700);
    background: -moz-linear-gradient(45deg, #572306, #EF5700);
    background: linear-gradient(45deg, #572306, #EF5700);
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.titulo{
    font-size:xx-large;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;/*
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/
  padding-top:40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
    table thead tr {
        height: 60px;
        background: #4158d0; /*36304a*/
    }
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}



.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;/*f5f5f5*/
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

    tbody tr:hover {
        color: #000; /*555555*/
        background-color: #EF6111; /*f5f5f5  EF6111*/
        cursor: pointer;
    }

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 1024px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:40px;
  }
}